"# Python" 
"__pycache__/" 
"*.pyc" 
"venv/" 
"env/" 
"" 
"# ML & Large Files" 
"models/" 
"dataset/" 
"checkpoints/" 
"runs/" 
"yolo11n.pt" 
"" 
"# Outputs & Images" 
"*.png" 
"*.jpg" 
"classification_report.txt" 
"gradcam*.jpg" 
"cnn_confusion_matrix.png" 
"" 
"# Large folders to ignore" 
"dataset/" 
"demo_images/" 
"models/" 
"checkpoints/" 
"runs/" 
"yolo11n.pt" 
